* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gi-background: #f6f5f3;
  --gi-secondary-grey: #a1a1a1;
  --gi-logo: #ff9614;
  --gi-title: #4e3969;
}

body {
  background-color: var(--gi-background);
  min-width: 480px;
  font-family: "Montserrat", serif;

  h1 {
    font-family: 'Nerko One', cursive;
    color: var(--gi-logo);
    font-weight: 100;
    font-size: 48px;
    text-shadow: 2px 2px #a9a9a9;
  }

  h2 {
    color: var(--gi-title);
    font-weight: 800;
  }

  h4 {
    font-size: 12px;
  }

  h5 {
    color: var(--gi-secondary-grey);
    font-style: normal;
    font-weight: 400;
  }
}

img,
iframe {
  max-width: 100%;
}


header {
  .site_header {
    min-width: 100%;
    background-color: white;
    text-align: center;
    padding: 0.5rem 0;
  }
}

.intro {
  padding-top: 1rem;

  .container {
    width: 90%;
    margin: auto;

    .title {
      padding-top: 0.5rem;
      display: flex;
      gap: 0.5rem;
      flex-wrap: nowrap;

      h2:last-child {
        display: none;
      }
    }
  }
}

.tutorial {
  margin: 1rem 0;
  box-shadow: rgba(147, 147, 147, 0.07) 0px 1px 1px, rgba(147, 147, 147, 0.07) 0px 2px 2px, rgba(147, 147, 147, 0.07) 0px 4px 4px, rgba(147, 147, 147, 0.07) 0px 8px 8px, rgba(147, 147, 147, 0.07) 0px 16px 16px;

  .info {
    padding: 2rem;

    ul {
      list-style: none;
      font-size: 14px;
      line-height: 2rem;
    }

    .short {
      padding-bottom: 1.5rem;
    }
  }
}

.social {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;

  .item {
    display: flex;
    background-color: white;
    padding: 1rem 1.5rem;
    gap: 0.5rem;
    text-align: center;
    border-radius: 40px;
    box-shadow: rgba(147, 147, 147, 0.07) 0px 1px 1px, rgba(147, 147, 147, 0.07) 0px 2px 2px, rgba(147, 147, 147, 0.07) 0px 4px 4px, rgba(147, 147, 147, 0.07) 0px 8px 8px, rgba(147, 147, 147, 0.07) 0px 16px 16px;

    img {
      margin: auto 0;
    }

    h4 {
      display: none;
    }
  }
}





.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: auto;
  flex-basis: auto;
}

.col-1 {
  width: calc(100% / 12 * 1);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: 100%;
}

/*************************************************
    TABLET
 *************************************************/
@media screen and (min-width:768px) {

  body {
    min-width: 768px;

    h1.logo {
      font-size: 56px;
    }

    h2 {
      font-size: 32px;
    }

    h5 {
      font-size: 16px;
    }
  }

  header {
    .site_header {
      text-align: start;
      padding-left: 1.5rem;
    }
  }

  .intro {
    padding-top: 3rem;

    .container {

      .title {
        h2:last-child {
          display: block;
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        line-height: 3rem;
      }
    }
  }

  .social {
    gap: 1rem;

    .item {
      padding: 1rem 0;
      width: 100%;
      justify-content: center;
    }
  }

  .col-md-4 {
    width: calc(100% / 12 * 4);
  }

  .col-md-6 {
    width: calc(100% / 12 * 6);
  }

  .col-md-12 {
    width: calc(100% / 12 * 12);
  }
}



/*************************************************
    DESKTOP
 *************************************************/
@media screen and (min-width:992px) {

  body {
    min-width: 992px;

    h2 {
      font-size: 40px;
    }
  }


  .intro {

    .container {
      width: 70%;

      .title {

        h2:last-child {
          display: block;
        }
      }

      .row {
        flex-wrap: wr;
      }

      ul {
        display: block;
        line-height: 2rem;

        li.col-md-4 {
          width: 100%;
        }
      }
    }
  }

  .social {
    gap: 1rem;

    .item {
      padding: 1rem 0;
      width: 100%;
      justify-content: center;

      h4 {
        display: block;
      }
    }
  }

  .col-lg-4 {
    width: calc(100% / 12 * 4);
  }

  .col-lg-8 {
    width: calc(100% / 12 * 8);
  }
}